.Footer-section{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 80px;
    margin-top: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    user-select: none;

    .one-blog{
        width: 95%;
        display: grid;
        grid-template-columns:repeat(3, 2fr);
        grid-template-rows: repeat(1, 1fr);
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        .sociaux{
            display: flex;
            flex-direction: row;
            .some-texte-sociaux{
               
                #para-sociaux{
                    height: 145px;
                    border-left: 1px solid white;
                    padding-left: 10px;
                    margin-top: 60px;
                    color: rgb(225, 223, 223);
                    line-height: 20px;
                    letter-spacing: 0.8px;
                }
            }
        }
        .one-blog-content{
            width: 75%;
            gap: 20px;
            
            #title-one-blog{
                font-size: 20px;
                font-weight: 600;
                color:rgb(16, 130, 201);
                margin-bottom: 20px;

            }  
            .para-sponsor{
                width: 70%;
                border-top: 1px solid white;
                #para-sposor{
                    font-size: 16px;
                    font-weight: 400;
                    color: rgb(225, 223, 223); 
                }
            }
            .local{
                .title{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                #para-local{
                    
                    color:rgb(16, 130, 201);
                    font-size: 15px;
                    font-weight: 400;
                    &:nth-child(1){
                        color: rgb(196, 7, 7);
                        font-size: 20px;
                        font-weight: 600;
                    }
                    
                        #btn-defile{
                            margin-left: 50px;
                            width: 40px;
                            height: 40px;
                            padding: 5px;
                            border-radius: 100px;
                            border: 1px solid white;
                            background-color: rgb(196, 7, 7);
                            &:hover{
                                background-color: rgb(173, 1, 1);
                                cursor: pointer;
                            }
                        }
                  
                    }
            }  
                .over{
                    transition: transform 1.5s;
                    &:hover{
                        transform: translateX(10px);     
                    }
                    a{
                        color: rgb(149, 147, 147);
                        &:hover{
                            color: red;
                        }
                    }

                }
            #para-one-blog{
                font-size: 16px;
                font-weight: 400;
                color: rgb(149, 147, 147); 

            }
            #image-one-blog{
                width: 35px;
                height:35px;
                object-fit: cover;
                transition: transform 0.5s;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
        
    }

    //copirigth

    .copirigth{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid white;

        #para-copy{
            @extend  #para-one-blog;
            font-size: 16px;
            font-weight: 400;
            color: white;
        }

        .ancre-pop{
            display: flex;
            gap: 15px;

            a{
                color: white;
                transition: transform 1s;
            }
        }
        a:hover{
            transform: scale(1.2);
            color: red;
        }
    }
}